<h2>Create a New Tweet</h2>
<form action="/tweets" method="post">
  <p>Compose your tweet:</p>
  <textarea name="content" rows="4" cols="50"></textarea><br>
  <input type="submit" value="submit">
</form>
