<h2><%= @tweet.content %></h2>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form method="post" action="/tweets/<%= @tweet.id %>/delete">

  <input id="hidden" type="hidden" name="_method" value="delete">
  <br>
  <input type="submit" name="submit">

</form>
