
<h1>Login</h1>

<form method="post" action="/login">

  <label for="username">Username:</label>
  <input type="text" name="username" id="username">

  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <input type="submit" name="Login" value="submit">

</form>
<br>
<p>Don't have an account? Sign up for one <a href="/signup">here</a>.</p>
<!--  this may need some work, but does it make sense to have a link on the login page for people to create an account if they don't have one?-->
